
body {
    background-color: #EEE0CB;
}

h1
{
    font-size: 100px;
    font-family: 'Edita';
    color: #964B00;
}
.header 
{
    font-size: 50px;
    font-family:'Edita';
    color:#964B00;
    text-align: right;
}

img
{
    position: relative;
    width: 100%;
    height: 100%;
}