/* index.html */
body {
    background-color: #EEE0CB;
    margin: 0;
    padding: 0;
}

.navtop {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 120px;
    cursor: pointer;
    font-size: 100px;
    font-size: 100px;
    font-weight: bold;
}

.logo a {
    text-decoration: none;
    font-family: 'Edita bold';
    color: #964B00;
}

.navtop ul li {
    list-style: none;
    display: inline-block;
    margin: 0 0 0 50px;
}

.navtop ul li a {
    text-decoration: none;
    font-size: 40px;
    font-family: 'Edita';
    color: #964B00;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 80px;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 50px;
    font-family: 'Edita';
    color: #964B00;
}

.box {
    background-color: black;
    width: 100%;
    height: 700px;
}

.background-index {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.homealbum {
    position: relative;
    top: 50%;
    left: 50%;
    width: 36%;
    height: 80%;
    transform: translate(-50%, -50%);
}

.spotify {
    position: relative;
    top: 85px;
    right: 86px;
    width: 90px;
    height: 90px;
}

.soundcloud {
    position: relative;
    top: 215px;
    right: -30px;
    width: 150px;
    height: 70px;
}

.apple {
    position: relative;
    top: 330px;
    right: -145px;
    width: 70px;
    height: 90px;
}

.amazon {
    position: relative;
    top: 450px;
    right: -300px;
    width: 250px;
    height: 100px;
}

.youtube {
    position: relative;
    top: 570px;
    right: -550px;
    width: 270px;
    height: 50px;
}

/* About.html */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.container-about {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url("wireframe imgs/niki concert22.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.container-about::before {
    content: "";
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
 }

.centertext {
    font-size: 50px;
    color: #628DB7;
    position: relative;
    text-align: center;
}

.instagram-about {
    width: 85px;
    height: 85px;
}

.x-about {
    width: 78px;
    height: 78px;
}

.facebook-about {
    width: 78px;
    height: 78px;
}

.youtube-about {
    width: 100px;
    height: 70px;
}

.spotify-about {
    width: 93px;
    height: 90px;
}

.apple-about {
    width: 93px;
    height: 90px;
}

.about-icons ul li {
    list-style: none;
    display: inline-block;
    margin: 80px 0 0 50px;
}


/* Discography.html */
body {
    margin: 0;
    padding: 0;
}

.container-d {
    position: relative;
    width: 100%;
    min-height: 120vh;
    color: white;
}

.d-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: black;
    width: 100%;
    min-height: 800px;
    overflow: auto;
    box-sizing: border-box;
    margin-bottom: -50px;
}

.d-2023 {
    position: absolute;
    font-size: 80px;
    top: 10px;
    left: 10px;
}

.wiltern-bg {
    position: absolute;
    width: 20%;
    height: 34%;
    border: 2px solid #707070;
    top: 100px;
    left: 10px;
}

.wiltern-text {
    position: absolute;
    text-align: left;
    font-size: 40px;
    top: 390px;
    left: 10px;
}

.wiltern-sidetext {
    position: absolute;
    text-align: left;
    font-size: 50px;
    top: 150px;
    left: 370px;
    list-style: none;
}

.d-2022 {
    position: absolute;
    font-size: 80px;
    top: 1320px;
    left: 10px;
}

.spotifysingle-bg {
    position: absolute;
    width: 20%;
    height: 34%;
    border: 2px solid #707070;
    top: 1420px;
    left: 10px;
}

.spotifysingle-text {
    position: absolute;
    text-align: left;
    font-size: 40px;
    top: 1700px;
    left: 10px;
}

.spotifysingle-sidetext {
    position: absolute;
    text-align: left;
    font-size: 50px;
    top: 1480px;
    left: 370px;
    list-style: none;
}

.nicole-bg {
    position: absolute;
    width: 20%;
    height: 34%;
    border: 2px solid #707070;
    top: 1820px;
    left: 10px;
}

.nicole-text {
    position: absolute;
    text-align: left;
    font-size: 40px;
    top: 2100px;
    left: 10px;
}

.nicole-sidetext {
    position: absolute;
    text-align: left;
    font-size: 50px;
    top: 1860px;
    left: 370px;
    list-style: none;
}

.hsij-bg {
    position: absolute;
    width: 20%;
    height: 34%;
    border: 2px solid #707070;
    top: 2690px;
    left: 10px;
}

.hsij-text {
    position: absolute;
    text-align: left;
    font-size: 40px;
    top: 2965px;
    left: 10px;
}

.hsij-sidetext {
    position: absolute;
    text-align: left;
    font-size: 50px;
    top: 2740px;
    left: 370px;
    list-style: none;
}

.one-bg {
    position: absolute;
    width: 20%;
    height: 34%;
    border: 2px solid #707070;
    top: 3040px;
    left: 10px;
}

.one-text {
    position: absolute;
    text-align: left;
    font-size: 40px;
    top: 3315px;
    left: 10px;
}

.one-sidetext {
    position: absolute;
    text-align: left;
    font-size: 50px;
    top: 3080px;
    left: 370px;
    list-style: none;
}

.before-bg {
    position: absolute;
    width: 20%;
    height: 34%;
    border: 2px solid #707070;
    top: 3380px;
    left: 10px;
}

.before-text {
    position: absolute;
    text-align: left;
    font-size: 40px;
    top: 3650px;
    left: 10px;
}

.before-sidetext {
    position: absolute;
    text-align: left;
    font-size: 50px;
    top: 3400px;
    left: 370px;
    list-style: none;
}

.d-2021 {
    position: absolute;
    font-size: 80px;
    top: 3700px;
    left: 10px;
}

.split-bg {
    position: absolute;
    width: 20%;
    height: 34%;
    border: 2px solid #707070;
    top: 3800px;
    left: 10px;
}

.split-text {
    position: absolute;
    text-align: left;
    font-size: 40px;
    top: 4070px;
    left: 10px;
}

.split-sidetext {
    position: absolute;
    text-align: left;
    font-size: 50px;
    top: 3840px;
    left: 370px;
    list-style: none;
}

.cmghomeLDR-bg {
    position: absolute;
    width: 20%;
    height: 34%;
    border: 2px solid #707070;
    top: 4135px;
    left: 10px;
}

.cmghomeLDR-text {
    position: absolute;
    text-align: left;
    font-size: 40px;
    top: 4410px;
    left: 10px;
}

.cmghomeLDR-sidetext {
    position: absolute;
    text-align: left;
    font-size: 50px;
    top: 4150px;
    left: 370px;
    list-style: none;
}

.cmghome-bg {
    position: absolute;
    width: 20%;
    height: 34%;
    border: 2px solid #707070;
    top: 4520px;
    left: 10px;
}

.cmghome-text {
    position: absolute;
    text-align: left;
    font-size: 40px;
    top: 4795px;
    left: 10px;
}

.cmghome-sidetext {
    position: absolute;
    text-align: left;
    font-size: 50px;
    top: 4550px;
    left: 370px;
    list-style: none;
}

.es-bg {
    position: absolute;
    width: 20%;
    height: 34%;
    border: 2px solid #707070;
    top: 4860px;
    left: 10px;
}

.es-text {
    position: absolute;
    text-align: left;
    font-size: 40px;
    top: 5130px;
    left: 10px;
}

.es-sidetext {
    position: absolute;
    text-align: left;
    font-size: 50px;
    top: 4890px;
    left: 370px;
    list-style: none;
}

.caliremix-bg {
    position: absolute;
    width: 20%;
    height: 34%;
    border: 2px solid #707070;
    top: 5200px;
    left: 10px;
}

.caliremix-text {
    position: absolute;
    text-align: left;
    font-size: 40px;
    top: 5480px;
    left: 10px;
}

.caliremix-sidetext {
    position: absolute;
    text-align: left;
    font-size: 50px;
    top: 5250px;
    left: 370px;
    list-style: none;
}

.caliaccous-bg {
    position: absolute;
    width: 20%;
    height: 34%;
    border: 2px solid #707070;
    top: 5590px;
    left: 10px;
}

.caliaccous-text {
    position: absolute;
    text-align: left;
    font-size: 40px;
    top: 5870px;
    left: 10px;
}

.caliaccous-sidetext {
    position: absolute;
    text-align: left;
    font-size: 50px;
    top: 5640px;
    left: 370px;
    list-style: none;
}

.cali-bg {
    position: absolute;
    width: 20%;
    height: 34%;
    border: 2px solid #707070;
    top: 5980px;
    left: 10px;
}

.cali-text {
    position: absolute;
    text-align: left;
    font-size: 40px;
    top: 6260px;
    left: 10px;
}

.cali-sidetext {
    position: absolute;
    text-align: left;
    font-size: 50px;
    top: 6020px;
    left: 370px;
    list-style: none;
}

.d-2020 {
    position: absolute;
    font-size: 80px;
    top: 6310px;
    left: 10px;
}

.hallwayweather-bg {
    position: absolute;
    width: 20%;
    height: 34%;
    border: 2px solid #707070;
    top: 6405px;
    left: 10px;
}

.hallwayweather-text {
    position: absolute;
    text-align: left;
    font-size: 40px;
    top: 6685px;
    left: 10px;
}

.hallwayweather-sidetext {
    position: absolute;
    text-align: left;
    font-size: 50px;
    top: 6450px;
    left: 370px;
    list-style: none;
}

.moonchild-bg {
    position: absolute;
    width: 20%;
    height: 34%;
    border: 2px solid #707070;
    top: 6750px;
    left: 10px;
}

.moonchild-text {
    position: absolute;
    text-align: left;
    font-size: 40px;
    top: 7030px;
    left: 10px;
}

.moonchild-sidetext {
    position: absolute;
    text-align: left;
    font-size: 50px;
    top: 6800px;
    left: 370px;
    list-style: none;
}

.lose-bg {
    position: absolute;
    width: 20%;
    height: 34%;
    border: 2px solid #707070;
    top: 7510px;
    left: 10px;
}

.lose-text {
    position: absolute;
    text-align: left;
    font-size: 40px;
    top: 7790px;
    left: 10px;
}

.lose-sidetext {
    position: absolute;
    text-align: left;
    font-size: 50px;
    top: 7560px;
    left: 370px;
    list-style: none;
}

.selene-bg {
    position: absolute;
    width: 20%;
    height: 34%;
    border: 2px solid #707070;
    top: 7950px;
    left: 10px;
}

.selene-text {
    position: absolute;
    text-align: left;
    font-size: 40px;
    top: 8225px;
    left: 10px;
}

.selene-sidetext {
    position: absolute;
    text-align: left;
    font-size: 50px;
    top: 8000px;
    left: 370px;
    list-style: none;
}

.switchblade-bg {
    position: absolute;
    width: 20%;
    height: 34%;
    border: 2px solid #707070;
    top: 8340px;
    left: 10px;
}

.switchblade-text {
    position: absolute;
    text-align: left;
    font-size: 40px;
    top: 8615px;
    left: 10px;
}

.switchblade-sidetext {
    position: absolute;
    text-align: left;
    font-size: 50px;
    top: 8380px;
    left: 370px;
    list-style: none;
}

.d-2019 {
    position: absolute;
    font-size: 80px;
    top: 8660px;
    left: 10px;
}

.sugarplumelegy-bg {
    position: absolute;
    width: 20%;
    height: 34%;
    border: 2px solid #707070;
    top: 8750px;
    left: 10px;
}

.sugarplumelegy-text {
    position: absolute;
    text-align: left;
    font-size: 40px;
    top: 9030px;
    left: 10px;
}

.sugarplumelegy-sidetext {
    position: absolute;
    text-align: left;
    font-size: 50px;
    top: 8800px;
    left: 370px;
    list-style: none;
}

.indigo-bg {
    position: absolute;
    width: 20%;
    height: 34%;
    border: 2px solid #707070;
    top: 9100px;
    left: 10px;
}

.indigo-text {
    position: absolute;
    text-align: left;
    font-size: 40px;
    top: 9380px;
    left: 10px;
}

.indigo-sidetext {
    position: absolute;
    text-align: left;
    font-size: 50px;
    top: 9140px;
    left: 370px;
    list-style: none;
}

.hitc-bg {
    position: absolute;
    width: 20%;
    height: 34%;
    border: 2px solid #707070;
    top: 9445px;
    left: 10px;
}

.hitc-text {
    position: absolute;
    text-align: left;
    font-size: 40px;
    top: 9725px;
    left: 10px;
}

.hitc-sidetext {
    position: absolute;
    text-align: left;
    font-size: 50px;
    top: 9500px;
    left: 370px;
    list-style: none;
}

.wttd-bg {
    position: absolute;
    width: 20%;
    height: 34%;
    border: 2px solid #707070;
    top: 9875px;
    left: 10px;
}

.wttd-text {
    position: absolute;
    text-align: left;
    font-size: 40px;
    top: 10160px;
    left: 10px;
}

.wttd-sidetext {
    position: absolute;
    text-align: left;
    font-size: 50px;
    top: 9910px;
    left: 370px;
    list-style: none;
}

.lowkey-bg {
    position: absolute;
    width: 20%;
    height: 34%;
    border: 2px solid #707070;
    top: 10360px;
    left: 10px;
}

.lowkey-text {
    position: absolute;
    text-align: left;
    font-size: 40px;
    top: 10640px;
    left: 10px;
}

.lowkey-sidetext {
    position: absolute;
    text-align: left;
    font-size: 50px;
    top: 10400px;
    left: 370px;
    list-style: none;
}

.d-2018 {
    position: absolute;
    font-size: 80px;
    top: 10700px;
    left: 10px;
}

.zephyr-bg {
    position: absolute;
    width: 20%;
    height: 34%;
    border: 2px solid #707070;
    top: 10790px;
    left: 10px;
}

.zephyr-text {
    position: absolute;
    text-align: left;
    font-size: 40px;
    top: 11072px;
    left: 10px;
}

.zephyr-sidetext {
    position: absolute;
    text-align: left;
    font-size: 50px;
    top: 10840px;
    left: 370px;
    list-style: none;
}

.vintage-bg {
    position: absolute;
    width: 20%;
    height: 34%;
    border: 2px solid #707070;
    top: 11455px;
    left: 10px;
}

.vintage-text {
    position: absolute;
    text-align: left;
    font-size: 40px;
    top: 11735px;
    left: 10px;
}

.vintage-sidetext {
    position: absolute;
    text-align: left;
    font-size: 50px;
    top: 11500px;
    left: 370px;
    list-style: none;
}

.d-2017 {
    position: absolute;
    font-size: 80px;
    top: 11800px;
    left: 10px;
}

.chilly-bg {
    position: absolute;
    width: 20%;
    height: 34%;
    border: 2px solid #707070;
    top: 11900px;
    left: 10px;
}

.chilly-text {
    position: absolute;
    text-align: left;
    font-size: 40px;
    top: 12180px;
    left: 10px;
}

.chilly-sidetext {
    position: absolute;
    text-align: left;
    font-size: 50px;
    top: 11940px;
    left: 370px;
    list-style: none;
}

.ilikeu-bg {
    position: absolute;
    width: 20%;
    height: 34%;
    border: 2px solid #707070;
    top: 12240px;
    left: 10px;
}

.ilikeu-text {
    position: absolute;
    text-align: left;
    font-size: 40px;
    top: 12520px;
    left: 10px;
}

.ilikeu-sidetext {
    position: absolute;
    text-align: left;
    font-size: 50px;
    top: 12280px;
    left: 370px;
    list-style: none;
}

.seeunever-bg {
    position: absolute;
    width: 20%;
    height: 34%;
    border: 2px solid #707070;
    top: 12575px;
    left: 10px;
}

.seeunever-text {
    position: absolute;
    text-align: left;
    font-size: 40px;
    top: 12855px;
    left: 10px;
}

.seeunever-sidetext {
    position: absolute;
    text-align: left;
    font-size: 50px;
    top: 12625px;
    left: 370px;
    list-style: none;
}

 /* Login.html */




 /*.login-container {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("wireframe imgs/NIKI Zefanya (Nicole Tour).jpg");
 }

.login-bg {
    width: 100%;
    height: 100%
}

 .login-container::before {
    content: "";
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    margin-bottom: 0;
 }

 .login-text {
    font-size: 100px;
    position: absolute;
    color: white;
    top: -30px;
    left: 625px;
    padding-top: 50px;
 }

 .login-form {
    position: absolute;
    top: 1000px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 }

 .login-form label {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 5px; 
    text-align: left;
    margin-left: -500px;
 }

 .login-form-text {
    font-size: 60px;
    color: white;
    font-family: "Edita";
 }

 .login-form-submit {
    font-size: 88px;
    font-family: "Edita";
 }

.login-form input[type=text] {
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
}

.login-form .login-form-text input[type=text] {
    width: 80%;
    padding: 20px;
    margin-top: -10px;
    margin-bottom: 20px;
}
*/


/* Tour.html */
* {
    margin: 0;
    padding: 0;
}

.Tour-bg {
    width: 100%;
    height: auto;
}

.Tour-container {
    position: relative;
    width: 100%;
    height: 0;
}

.Tour-container::before {
    content: "";
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: auto;
}

.Tour-toptext {
    font-size: 100px;
    color: white;
    position: relative;
    text-align: center;
    top: -900px;
}

.Tour-middletext {
    font-size: 60px;
    color: white;
    position: relative;
    text-align: center;
}

/* Subscribe.html */
body {
    margin: 0;
    padding: 0;
    height: auto;
}

.Subscribe-bg {
    width: 100%;
    height: 100vh;

}

.Subscribe-container {
    position: relative;
    width: 100%;
    height: 0;
}

.Subscribe-container::before {
    content: "";
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.52);
    height: 100vh;
}

.subscribe-form {
    top: -600px;
    font-size: 50px;
    color: white;
    position: relative;
    text-align: center;
    margin-bottom: 0%;
}

.Subscribe-form[type=text] {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}

