/* index.html */
body {
    background-color: #EEE0CB;
}

.navtop {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 120px;
    cursor: pointer;
    font-size: 100px;
    font-size: 100px;
    font-weight: bold;
}

.logo a {
    text-decoration: none;
    font-family: 'Edita bold';
    color: #964B00;
}

.navtop ul li {
    list-style: none;
    display: inline-block;
    margin: 0 0 0 50px;
}

.navtop ul li a {
    text-decoration: none;
    font-size: 40px;
    font-family: 'Edita';
    color: #964B00;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 80px;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 50px;
    font-family: 'Edita';
    color: #964B00;
}

.box {
    background-color: black;
    width: 100%;
    height: 700px;
}

.background-index {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.homealbum {
    position: relative;
    top: 50%;
    left: 50%;
    width: 36%;
    height: 80%;
    transform: translate(-50%, -50%);
}

.spotify {
    position: relative;
    top: 85px;
    right: 86px;
    width: 90px;
    height: 90px;
}

.soundcloud {
    position: relative;
    top: 215px;
    right: -30px;
    width: 150px;
    height: 70px;
}

.apple {
    position: relative;
    top: 330px;
    right: -145px;
    width: 70px;
    height: 90px;
}

.amazon {
    position: relative;
    top: 450px;
    right: -300px;
    width: 250px;
    height: 100px;
}

.youtube {
    position: relative;
    top: 570px;
    right: -550px;
    width: 270px;
    height: 50px;
}

/* About.html */
.container-about {
    position: relative;
    max-width: 100%;
    max-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("wireframe imgs/niki concert22.jpeg");
    background-size: cover;
  }

.container-about::before {
    content: "";
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
 }

.centertext {
    top: 90px;
    font-size: 43px;
    color: #628DB7;
    position: relative;
    text-align: center;
}

.instagram-about {
    width: 85px;
    height: 85px;
    position: relative;
    display: block;
    top: 120px;  
    left: 10px;  
}

.x-about {
    width: 78px;
    height: 78px;
    position: relative;
    display: block;
    top: 39px;
    left: 115px;    
}

.facebook-about {
    width: 78px;
    height: 78px;
    position: relative;
    display: block;
    top: -38px;
    left: 213px; 
}

.youtube-about {
    width: 100px;
    height: 70px;
    position: relative;
    display: block;
    left: 320px;
    bottom: 110px; 
}

.spotify-about {
    width: 93px;
    height: 90px;
    position: relative;
    display: block;
    left: 445px;
    bottom: 190px; 
}

.apple-about {
    width: 93px;
    height: 90px;
    position: relative;
    display: block;
    left: 545px;
    bottom: 280px; 
}

/* Discography.html */

